h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  white-space: nowrap;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin: auto;
  width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
}
/*ШАПКА*/
.container-header {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
}
.novigation-list {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

.novigation-list .novigation-item + .novigation-item {
  margin-left: 60px;
}
.novigation-list .navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.novigation-item {
  position: relative;
}
.contact-list {
  margin-left: auto;
  display: flex;
}
.contact-list-item {
  display: block;
}
.contact-list-item:not(:last-child) {
  margin-right: 50px;
}
.logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: #212121;
}
.navigation-link {
  transition: unset;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link::after {
  content: "";
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  left: 0;
  bottom: -1px;
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.link .navigation-link {
  transition: unset;
}
.navigation-link:hover::after {
  opacity: 1;
}
.navigation-link:focus::after {
  opacity: 1;
}
.active::after {
  opacity: 1;
}
.active {
  color: #2196f3;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #2196f3;
}

.tel-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
}

.tel-link:hover.contact-icon,
.tel-link:focus.contact-icon,
.tel-link:hover,
.tel-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.mail-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-link:hover.contact-icon,
.mail.link:focus.contact-icon,
.mail-link:hover,
.mail-link:focus {
  color: #2196f3;
  fill: #2196f3;
}
/*ГЕРОЙ*/
.hero {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(
      rgba(79, 84, 136, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  margin: auto;
  max-width: 696px;
  height: 120px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button {
  padding: 10px 32px;
  min-width: 136px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}
/*ГЛАВНЫЕ ИДЕИ*/
.idea-list {
  display: flex;
  align-items: center;
}
.idea-list-item {
  flex-basis: calc(100% / 4-30px);
}
.idea-list .idea-list-item + .idea-list-item {
  margin-left: 30px;
}
.idea {
  padding-top: 94px;
  padding-bottom: 94px;
}
.idea-list-title {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.idea-list-position {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
/*иконки*/
.thumb {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
/*чЕМ МЫ ЗАНИМАЕМСЯ*/
.emp-list .emp-list-item + .emp-list-item {
  margin-left: 30px;
}
.emp-list {
  display: flex;
}
.emp-list-item {
  position: relative;
  text-align: center;
}
.employ {
  padding-bottom: 94px;
}
.emp-title {
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.overlay-wrapper {
  position: relative;
  width: 100%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
/*кОМАНДА*/
.team-section {
  background: #f5f4fa;
}
.team-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team-content-wraper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
  text-align: center;
}
.team-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.title-name {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
}
.team-position {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
/*иконки*/
.icon-list {
  display: flex;
  padding: 0px;
  margin: 0px auto;
  justify-content: space-between;
}
.icon-item-link {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  fill: currentColor;
}
.icon-item-link:hover .team-icon,
.icon-item-link:focus .team-icon {
  fill: #ffffff;
}
.icon-item-link:hover,
.icon-item-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/*ПАРТНЕРЫ*/
.partners {
  padding-top: 94px;
  padding-bottom: 94px;
}
.partners-title {
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.partners-list {
  display: flex;
  justify-content: space-between;
}

.partners-logo {
  fill: currentColor;
}
.partners-link {
  color: #afb1b8;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.partners-link:hover,
.partners-link:focus {
  border-color: #2196f3;
  color: #2196f3;
}
.partners-link:hover.partners-logo,
.partners-link:focus.partners-logo {
  fill: #2196f3;
}
.partners-logo:hover,
.partners-logo:focus {
  fill: #2196f3;
}

/*ПОДВАЛ*/
.cont-list:not(:last-child) {
  margin-bottom: 9px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  display: block;
  margin-bottom: 20px;
}

.address-link {
  margin-bottom: 9px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.logo-web-stodio {
  color: #ffffff;
}
.tel-link-footer {
  margin-bottom: 9px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.mail-link-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.invit {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/*иконки*/
.main-footer {
  display: flex;
}
.icon-list {
  display: flex;
}
.footer-wrap:not(:last-child) {
  margin-right: 70px;
}
.icon-footer-list {
  display: flex;
  padding: 0px;
  margin: 0px auto;
  justify-content: space-between;
}
.icon-footer-link {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer-item:not(:last-child) {
  margin-right: 10px;
}
.icon-footer {
  fill: #ffffff;
}
.icon-footer-link:hover.icon-footer,
.icon-footer-link:focus.icon-footer {
  fill: #ffffff;
}
.icon-footer-link:hover,
.icon-footer-link:focus {
  background-color: #2196f3;
}
/*PORTFOLIO*/
.portfolio-list {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Novigation*/
.saction-button {
  margin-bottom: 34px;
}
.novigation-button {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.hiden {
  display: none;
}
.active {
  color: #2196f3;
}
.novigation-button-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  outline-style: none;
  border-width: 2px;
  border-color: transparent;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}
.novigation-button-link:hover,
.novigation-button-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.novigation-button .novigation-button-list + .novigation-button-list {
  margin-left: 8px;
}
/*Novigation img*/

.img-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #212121;
}
.img-position {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}
.novigation-img {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.novigation-img .img-list {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.img-discriptions {
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.novigation-button-link:hover,
.novigation-button-link:focus {
  background-color: #2196f3;
  color: #ffffff;
  border-color: #2196f3;
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.img-card-link {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-card-link:hover,
.img-card-link:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.project-img {
  position: relative;
  overflow: hidden;
}
.card-overley {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-card-link :hover.card-overley,
.img-card-link :focus.card-overley {
  transform: translateY(0%);
  opacity: 1;
}

/*модальное окно*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 528px;
  height: 580px;
  background: #ffffff;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
