.advantage {
  margin-top: 60px;
  margin-bottom: 60px;
}
.advantage__title {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}
.advantage__description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}
// /*иконки*/
.advantage__container {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .advantage__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantage__list {
    display: flex;
    flex-wrap: wrap;
  }
  .advantage__title {
    text-align: start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .advantage__list {
    margin: -15px;
  }
  .advantage__item {
    margin: 15px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item {
    flex-basis: calc(100% / 4 - 30px);
    min-width: 270px;
  }
  .advantage__item:not(:last-child) {
    margin-right: 30px;
  }

  .advantage {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}
