.filters__list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.filters__button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  outline-style: none;
  border-width: 2px;
  border-color: transparent;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
    color: #ffffff;
  }
}

.filters__list .filters__item + .filters__item {
  margin-left: 8px;
}
