.team__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team__caption {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
  text-align: center;
}
.team__list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team__name {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
}
.team__position {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
/*иконки*/
.social__item {
  display: flex;
}
.social__list {
  display: flex;
  padding: 0px;
  margin: 0px auto;
  justify-content: space-between;
}
.social__link {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
    color: #ffffff;
  }
}
.social__icon {
  fill: currentColor;
}
